h1 {
  font-size: 400%;
  text-align: center;
}

#question {
  font-size: 250%;
  text-align: center;
}

#nameBox {
  text-align: center;
  margin-top: 100px;
}

#nameBox p {
  font-size: 175%;
}

#user {

}

#operation {
  text-align: center;
  margin-top: 15px;
}

.scoreZone {
  margin-top: 30px;
  text-align: center;
}

.score {
  text-align: center;
  font-size: 125%;
}
